.dashboard{
  background-color: var(--primary-low-shade);
  min-height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.dashboard .column{
  display: flex;
  flex-direction: column;
}

.dashboard .info-box{
  background-color: var(--primary);
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

@media (max-width: 768px){
  .dashboard{
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
