.home-page{
    background-color: var(--primary-low-shade);
    color: var(--primary-contrast);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-page .title{
    cursor: default;
    margin-bottom: 20px;
    background: var(--secondary-low-shade);
    color: var(--secondary-contrast);
    padding: 10px 20px;
    border-radius: 15px;
    text-align: center;
}

.home-page .container{
    background: var(--primary);
    display: flex;
    flex-direction: row;
    border-radius: 3px;
}

.home-page .container .form-toggle{
    display: none;
}

.home-page .container form{
    margin: 15px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.home-page .container h2{
    color: var(--secondary-intense);
    margin-bottom: 10px;
}

.home-page .container .input-group{
    width: 200px;
    margin-bottom: 5px;
}

.home-page .container input{
    width: 100%;
    height: 36px;
    border-radius: 5px;
    border: 1px solid var(--primary-shade);
    padding: 0 10px;
    line-height: 24px;
    font-size: 16px;
    transition: all .5s;
}

.home-page .container input:focus{
    border-color: var(--secondary);
    box-shadow: 0px 0px 3px 2px var(--secondary-transparent);
}

.home-page .container .error-field{
    background-color: rgb(253, 57, 57);
    color: #FFF;
    padding: 7px 5px 2px;
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 10px;
    border-radius: 0px 0px 5px 5px;
}

.home-page .container button{
    cursor: pointer;
    background-color: var(--secondary);
    color: var(--secondary-contrast);
    border: none;
    border-radius: 2px;
    line-height: 24px;
    font-size: 16px;
    padding: 8px 12px;
    transition: all .2s;
}

.home-page .container button:hover:not(:disabled){
    background-color: var(--secondary-shade);
}

.home-page .container button:disabled{
    opacity: 0.3;
    cursor: default;
}

@media (max-width: 768px){
    .home-page .container{
        flex-direction: column;
    }

    .home-page .container .form-toggle{
        width: 100%;
        display: flex;
    }

    .home-page .container .form-toggle button{
        width: 50%;
        border-radius: 0px;
        font-weight: bold;
    }

    .home-page .container .form-toggle button.active{
        background-color: #FFF;
        color: var(--secondary-intense);
    }

    .home-page .container h2{
        display: none;
    }

    .home-page .container form{
        transition: all .5s;
    }

    .home-page .container form:not(.active){
        height: 0px;
        overflow: hidden;
        margin: 0px;
    }
}