.page-wrapper .activity-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
}

.page-wrapper .reduced .activity-container{
  grid-template-columns: repeat(3, 1fr);
}

.page-wrapper .activity-container .activity{
  min-width: 100px;
  padding: 5px;
  background: var(--primary-low-shade);
  box-shadow: 0px 0px 0px 0px var(--primary-low-shade);
  border-radius: 10px;
  text-align: center;
  transition: all .5s;
  position: relative;
}

.page-wrapper .activity-container .activity.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-wrapper .activity-container .activity button{
  visibility: hidden;
}

.page-wrapper .activity-container .activity:hover{
  background-color: var(--primary);
  box-shadow: 0px 0px 3px 2px var(--primary-low-shade);
}

.page-wrapper .activity-container .activity:hover button{
  visibility: visible;
}

.page-wrapper .activity-container .activity .activity-name{
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-wrapper .activity-container .activity .activity-rules{
  font-size: 12px;
  margin-top: 5px;
  color: var(--secondary-intense);
}

.page-wrapper .activity-container .activity .activity-xp{
  color: var(--secondary);
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

.page-wrapper .activity-container .activity.center .activity-xp{
  position: absolute;
  top: 5px;
}

.page-wrapper .activity .edit-button{
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: var(--primary-shade);
  font-size: 16px;
  border: none;
  background-color: transparent;
  margin-left: 2px;
  cursor: pointer;
}

.page-wrapper .activity .delete-button{
  position: absolute;
  top: 5px;
  right: 5px;
  color: var(--primary);
  border: none;
  background-color: darkred;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color .5s;
}

.page-wrapper .activity .delete-button:hover{
  background-color: rgb(180, 31, 31);
}

/* Responsiveness */
@media (max-width: 992px){  
  .page-wrapper .reduced .activity-container{
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Responsiveness */
@media (max-width: 768px){
  .page-wrapper .activity-container,
  .page-wrapper .reduced .activity-container{
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Responsiveness */
@media (max-width: 576px){
  .page-wrapper .activity-container,
  .page-wrapper .reduced .activity-container{
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Responsiveness */
@media (max-width: 396px){
  .page-wrapper .activity-container,
  .page-wrapper .reduced .activity-container{
    grid-template-columns: repeat(1, 1fr);
  }
}

