/* Theme defining */
:root{
  --primary: #FFFFFF;
  --primary-intense: #FFFFFF;
  --primary-extra-intense: #FFFFFF;
  --primary-low-shade: #e6e6e6;
  --primary-shade: #cccccc;
  --primary-contrast: #1F1F1F;
  --secondary: #852c80;
  --secondary-transparent: #852c8088;
  --secondary-intense: #5f1f5b;
  --secondary-extra-intense: #381336;
  --secondary-low-shade: #ab39a5;
  --secondary-shade: #c651bf;
  --secondary-contrast: #FFF;
}

/* Fonts */
@font-face {
  font-family: Open-Sans;
  src: url(./assets/OpenSans-Regular.ttf);
}
@font-face {
  font-family: Open-Sans;
  src: url(./assets/OpenSans-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Open-Sans;
  src: url(./assets/OpenSans-ExtraBold.ttf);
  font-weight: bolder;
}
@font-face {
  font-family: Open-Sans;
  src: url(./assets/OpenSans-Light.ttf);
  font-weight: lighter;
}

@font-face {
  font-family: Roboto;
  src: url(./assets/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(./assets/Roboto-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Roboto;
  src: url(./assets/Roboto-Light.ttf);
  font-weight: lighter;
}

/* Styles */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html, #root{
  height: 100%;
}

body, input, button{
  font-family: Roboto;
}

h1, h2, h3, h4, h5, h6{
  font-family: Open-Sans;
}
