.achievement-form .title-options{
  position: absolute;
  z-index: 10;
  width: inherit;
  max-height: 80%;
  background-color: var(--primary-low-shade);
  border: 1px solid var(--primary-contrast);
  border-top: none;
  border-radius: 0 0 5px 5px;
  font-size: 14px;
}

.achievement-form .title-options ul{
  list-style: none;
}

.achievement-form .title-options li, .achievement-form .title-options button{
  min-height: 20px;
  padding: 2px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.achievement-form .title-options button{
  border: none;
  width: 100%;
  height: 100%;
  transition: background-color .2s;
}

.achievement-form .title-options li:hover, .achievement-form .title-options button:hover{
  background-color: var(--primary);
}

.achievement-form .image-input{
  position: relative;
}

.achievement-form .image-input button{
  position: absolute;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  top: 15px;
  right: 15px;
  visibility: hidden;
  color: #AAA;
}

.achievement-form .image-input:hover button{
  visibility: visible;
}
