.ranking{
  width: 100%;
  max-width: 330px;
}

.ranking ul{
  list-style: none;
}

.ranking ul li{
  margin-bottom: 5px;
  display: flex;
  height: 30px;
}

.ranking ul li.list-title{
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--primary-low-shade);
}

.ranking ul li div{
  height: 100%;
  display: flex;
  align-items: center;
}

.ranking ul li div.points{
  width: 30%;
}

.ranking ul li div:not(.list-title){
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ranking ul li div.user{
  width: 65%;
}

.ranking ul li div.registers-box{
  background-color: var(--secondary-shade);
  color: var(--secondary-contrast);
  padding: 4px;
  border-radius: 4px;
  height: 20px;
}

.ranking ul > span{
  display: flex;
  height: 60px;
  align-items: center;
  font-size: 14px;
  justify-content: center;
  text-decoration: underline;
  color: var(--secondary);
}

.ranking ul .rank{
  font-weight: bold;
  padding: 4px;
  margin-right: 4px;
  border-radius: 4px;
  font-size: 12px;
  text-transform: uppercase;
  cursor: default;
  font-family: Open-Sans, Roboto, sans-serif;
}

.ranking ul li:not(.list-title) .name{
  font-size: 14px;
}

.ranking footer{
  border-top: 1px solid var(--primary-low-shade);
  margin-top: 8px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  font-size: 14px;
}
