.image-input{
  margin: 0 auto;
  border: 1px dashed #ddd;
  border-radius: 50%;
  background-size: cover;
  cursor: pointer;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
  
.image-input input{
  display: none;
}
  
.image-input.has-thumbnail{
  border: 0;
}
  
.image-input.has-thumbnail img{
  display: none;
}
