.game-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  text-align: center;
}

.game-container div{
  margin: 10px 0;
}

.game-container .img-container{
  width: 80px;
  height: 80px;
}

.game-container .img-container img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.game-container .name{
  font-weight: bolder;
  font-size: 24px;
}
